<div [@fadeSlideDown]>
<div class="restaurant-box">
  <!--Search-->
  <input
    type="text"
    class="search-box"
    placeholder="Search restaurant by name"
    [(ngModel)]="searchText"
  />

  <!-- add button-->
  <button class="add-button" (click)="showAddModal = true">+ Add New Restaurant</button>

  <ul class="restaurant-list">
    <li *ngFor="let r of filteredRestaurants()">
      <div class="restaurant-details">
        <div>
          <strong>{{ r.name }}</strong> | {{ r.cuisine }} | {{ r.rating }}★<br />
          
          <p>Location: {{ r.address }} | 📞 {{ r.contact }}<br />
📧 {{ r.email }}

           </p>
        </div>
  
        <div class="action-buttons">
          <button (click)="editRestaurant(r)" class="edit-btn">✏️ Edit</button>
          <button (click)="confirmDeleteRestaurant(r.id)" class="delete-btn">❌ Delete</button>
        </div>
      </div>
    </li>
  </ul>
  

<!--popup-->
<div class="modal" *ngIf="showAddModal">
  <div class="modal-content">
    <h3>{{ editMode ? 'Edit' : 'Add' }} Restaurant</h3>

    <form #form="ngForm" (ngSubmit)="addOrUpdateRestaurant()">

      <input
        [(ngModel)]="newRestaurant.name"
        name="name"
        placeholder="Name"
        required />

      <input
        [(ngModel)]="newRestaurant.cuisine"
        name="cuisine"
        placeholder="Cuisine: Veg/Non-Veg"
        required />

      <input
        [ngModel]="newRestaurant.rating === 0 ? '' : newRestaurant.rating"
        (ngModelChange)="newRestaurant.rating = $event"
        name="rating"
        type="number"
        min="1"
        max="5"
        step="0.1"
        placeholder="Enter rating (1–5)"
        required />

      <input
        [(ngModel)]="newRestaurant.address"
        name="address"
        placeholder="Address"
        required />
<input
  [(ngModel)]="newRestaurant.email"
  name="email"
  type="email"
  placeholder="Email"
  required />

      <input
        [(ngModel)]="newRestaurant.contact"
        name="contact"
        #contactRef="ngModel"
        placeholder="Contact Number"
        required
        pattern="^[0-9]{10}$" />

      
      <div *ngIf="contactRef.invalid && (contactRef.dirty || form.submitted)" style="color: red; font-size: 13px;">
        Contact number must be exactly 10 digits.
      </div>
      

      <button type="submit" [disabled]="form.invalid">
        {{ editMode ? 'Update' : 'Add' }}
      </button>

      <button type="button" class="close-btn" (click)="closeModal()">Cancel</button>

    </form>
  </div>
</div>

<div class="modal" *ngIf="showDeleteConfirm">
  <div class="modal-content">
    <h3>Confirm Delete</h3>
    <p>Are you sure you want to delete this menu item?</p>
    <div class="confirm-buttons">
      <button (click)="deleteRestaurant()">Yes</button>
      <button class="close-btn" (click)="cancelDelete()">No</button>
    </div>
  </div>
</div>


</div>

